<%# locals: (label:, count:) %>
<div class="card dashboard__stat">
  <div class="card__body u-stack">
    <span class="dashboard__stat-number"><%= count %></span>
    <span class="u-text-muted"><%= label %></span>
  </div>
</div>
