<p>Thanks for contacting our Covenant support team. We appreciate you!</p>

<p>We're here 24 hours a day Monday through Friday, so expect a reply back shortly.
On the weekends we're a smaller crew, but still try to get a reply back as
quickly as we can.</p>

<p>If you're letting us know about a bug or something that isn't working quite
right, feel free to record a video of what you're seeing.
<%= link_to "Use this link", ApplicationMailer.support_video_url %> to record and
send it our way.</p>

<p>Otherwise — please hang tight and we'll get you a reply shortly. Thanks for
your patience!</p>

<p>— The Crew at Covenant 💌</p>
